body,ul,li,p{padding: 0;margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
b,p{cursor: pointer;}
/*头部信息*/
#header{height: 151px;width: 100%;min-width: 1200px}
#header .header_top{margin: 0 auto;height: 110px;width: 1000px;}
#header .header_top>span{margin-top: 30px}
.header_top .logo_left{float: left;color: #686767;font-size: 41px}
.header_top .logo_right{height: 56px;width: 202px;float: right;background: url(../images/logo_phone.png) no-repeat;}
/* 导航信息*/
#header .nav_top{height: 41px;width: 100%;background: #01a1ea}
.nav_top .nav_link{height: 100%;width: 1000px;margin: 0 auto}
.nav_top .nav_link>li{float: left;width: 125px;height: 100%;position: relative;}
.nav_top .nav_link>li a{margin-left: 12px;line-height: 43px;text-align: center;color: white;font-size: 17px;width: 80%;height: 100%;display: inline-block;}
.nav_top .nav_link>li a:hover{background: url(../images/nav_active.png)}
.nav_link .nav_active{background: url(../images/nav_active.png)}
.nav_top .nav_link>li span{height: 15px;width: 2px;display: block;position: absolute;right: 0;top: 14px;background: url(../images/nav_1.png)}
/*bar信息*/
.bar_link{height: 479px;width: 100%;background:url(../images/bar_1.png) no-repeat;background-size: 100% }
/*.bar_link img{height: 100%;width: 100%;}*/
.bar_link .bar_controller{position: relative;padding-left: 109px;padding-top: 182px;width: 891px;height: 79px;margin: 0 auto;}
.bar_controller .bar_font{display: block;width: 700px;height: 100%;overflow: hidden;}
.bar_controller>ul{position: absolute;right: 32px;bottom:7px;}
.bar_controller>ul>li{margin-top: 12px;width: 15px;height: 15px;cursor: pointer;}
/*内部介绍*/
.Internal_Referral{width: 100%;height: 194px;background: #00a0e9}
.Internal_Referral>ul{margin: 0 auto;width: 1000px;height: 100%}
.Internal_Referral>ul>li{overflow: hidden;width: 200px;float: left;height: 100%;position: relative;background: url(../images/Referral_bg.png);background-size: 100%}
.Internal_Referral .Referral_controller{cursor: pointer;margin: 15px  12px 11px 66px;display: block;width: 65px;height: 65px}
.Internal_Referral>ul>li>strong{text-align: center;display: block;font-size: 17px;font-weight: normal;color: white}
.Internal_Referral>ul>li>p{overflow: hidden;height: 63px;padding-top: 31px;margin: 0 auto;text-align: center;width: 80%;color: white;font-size: 12px}
.detailed{left: 0;top: 194px;position: absolute;height: 231px;width: 100%;background: #07a8f2}
.detailed>div{width: 80%;height: 100%;margin: 0 auto;}
.detailed .detailed_top {text-align: center;line-height: 58px;display: block;height: 58px;width: 100%;border-bottom: 2px solid #6ed1ff}
.detailed .detailed_top img{top: 10px;left: -2px;position: relative;}
.detailed .detailed_top b{color: white;font-size: 21px;font-weight: normal;}
.detailed .detailed_content{text-align: center;padding-top: 13px}
.detailed .detailed_content>a{color: white;font-size: 15px;}
.detailed .content_more{padding-top: 4px;display: block;text-align: center;}
.detailed .content_more a{color: #9adafc;font-size: 12px}
/*搜索框*/
.serach{width: 998px;height: 70px;border: 1px solid #00a0e9;margin: 0 auto}
.serach .serach_core{position: relative;width:516px;height: 100%;margin: 0 auto;background:url(../images/serach_bg.png) no-repeat center center;}
.serach_core>input{left: 145px;top: 23px;position: absolute;width: 286px;height: 25px}
.serach_core>span{line-height: 31px;text-align: center;border-radius: 5px;right: 6px;top:22px;position: absolute;display: block;width: 68px;height: 31px;background: #00a0e9;}
.serach_core>span>a{color: white}
/*企业介绍*/
.Company_profile{width: 100%;height: 552px}
.Company_profile .Company_core{width: 1000px;height: 100%;margin: 0 auto;background: url(../images/Company.png) no-repeat}
/*成功案例*/
.successful_case{height: 420px;width: 100%}
.successful_case .successful_core {width: 1000px;height: 100%;margin: 0 auto}
.successful_core .successful_logo{padding-bottom: 22px;padding-top:36px;width: 663px;height: 45px;margin: 0 auto;}
.successful_core>ul{width: 100%;height: 317px;}
.successful_core>ul>li{overflow: hidden;cursor: pointer;position: relative;width:236px;height: 309px;float: left;margin-right: 18px}
.successful_core .case_link{line-height: 50px;text-align: center;font-size: 17px;color: white;bottom: 0;position: absolute;display: block;width: 100%;height: 50px;background: rgba(0,2,6,0.5);}
.successful_core .case_shade{position: absolute;top: -309px;height: 100%;width: 100%;background: rgba(38,37,42,0.6);}
.case_shade>div{top: 40%;position: relative;line-height: 58px;text-align: center;color: white;width: 70%;height: 58px;border: 1px solid white;margin: 0 auto}
/*新闻中心*/
.press_center{width: 100%;height: 533px}
.press_center .press_core{width: 1000px;height: 100%;margin: 0 auto}
.press_core .press_content{position: relative;padding-top: 16px;height: 393px;width: 100%;background:url(../images/press_bg.png) no-repeat center center }
.press_content .press_left{height: 83px;width: 482px;position: absolute;background:url(../images/press_content_left.png) no-repeat }
.press_content .press_right{width: 488px;height: 85px;position: absolute;background:url(../images/press_content_right.png) no-repeat }

.contents_left{width: 87px;height: 100%;display: inline-block;float:left;}
.contents_right{padding-top: 21px;padding-left: 17px;width: 369px;height: 74%;display: inline-block;float:left;}
.content_year{display: block;height: 25px;width: 100%;color: white;text-align: center;line-height: 25px;font-size: 13px;background: #00a0e9}
.content_day{font-size: 24px;color: #8f8f8f;background: #e8e7e7;display: block;width: 100%;height: 58px;text-align: center;line-height: 58px}
.contents_right b{font-weight: normal;font-size: 15px}
.contents_right p{padding-top: 10px;color: #a6a6a6;font-size: 12px;width: 100%;height: 17px;overflow: hidden;}
.content_left{width: 87px;height: 100%;display: inline-block;float:right;}
.content_right{padding-top: 21px;padding-left: 17px;width: 369px;height: 74%;display: inline-block;float:right;}
.content_right b{font-weight: normal;font-size: 15px}
.content_right p{padding-top: 10px;color: #a6a6a6;font-size: 12px;width: 100%;height: 17px;overflow: hidden;}

/*底部*/
#footer{height: 162px;width: 100%;background: #00a0e9}
#footer .footer_core{width: 1000px;height: 100%;margin: 0 auto}
.footer_core>div{display: inline-block;float: left;height: 100%}
.footer_left{color: #c5edff;font-size: 21px;line-height: 162px}
.footer_right{background: url(../images/footer_right.png) no-repeat center center}
.footer_nav{padding-top: 16px;height: 67px;width: 100%;}
.footer_nav>li{position: relative;float: left;height: 100%;width: 75px;}
.footer_nav>li>a{margin-top: 33px;display: block;width: 99%;height: 17px;text-align: center;color: white;font-size: 13px;border-right: 1px solid white}


/*用时将进6小时*/