<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJs初识</title>
	<!--引入AngularJs的文件-->
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript">
	  var phonecatApp =	angular.module('phonecatApp', []);
	  phonecatApp.controller('PhoneListCtrl',function($scope) {
	  		$scope.huawei={
	  			'price':1499,
	  			'num'  :1   ,
	  			'fre'  :20
	  		};
	  		$scope.max = function(){
	  			return  $scope.huawei.price*$scope.huawei.num;
	  		}
	  		$scope.$watch($scope.max,function(newVal,oldVal){
	  			newVal>=100?$scope.huawei.fre=0:$scope.huawei.fre=20;
	  		},true);
	  })
	</script>
</head>
<body>
	<div ng-controller='PhoneListCtrl'>
	  <p>价格: <input type="text" ng-model='huawei.price'/></p>
	  <p>个数: <input type="text" ng-model='huawei.num'/></p>
	  <p>费用: <span></span>{{max() | currency:'￥'}}</p>
	  <p>运费: <span></span>{{huawei.fre | currency:'￥'}}</p>
	  <p>总额: <span></span>{{max()+huawei.fre| currency:'￥'}}</p>
	</div>
</body>
</html>