@charset "utf-8";
body,ul,li,a,em,ol{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style:none;
	font-style:normal;
}
body{
}
#header{
	min-width:1100px;
	width:100%;
	height:232px;
	
}
#header .top_bg{
	height:170px;
	background-image:url(../imgs/tour.png);
}
#header .top_container{
	font-size:13px;
	height:42px;
	background-image:linear-gradient(to top right,rgba(0,0,0,0.8),rgba(0,0,0,0));
}
#header .center{
	margin:0 auto;
	width:1101px;
	height:170px;
	position:relative;
}
#header .center .left{
	font-size:12px;
	height:42px;
	float:left;
}
#header .center .left ul{
	color:#FFF;
	line-height:42px;
}
#header .center .left li{
	text-align:center;
	width:65px;
	float:left;			
}
#header .center .left  a,#header .center .right  a{
	text-align:center;
	display:block;
	color:#FFF;
	
}
#header .center .left .home a{
	padding:0 0 0 20px;
}
#header .center .left a:hover,#header .center .right a:hover{
	background-color:rgba(225,225,225,0.4);	
}
#header .center .left .home{
	background-repeat:no-repeat;
	background-image:url(../imgs/index.png);
	background-position:-845px -74px;
	width:65px;
}
#header .center .right{
	font-size:12px;
	position:relative;
	width:236px;
	float:left;
	margin-left:380px;
	height:42px;
	color:#FFF;
}
#header .center .right ul{
	line-height:42px;
}
#header .center .right .m-liys{
	text-align:center;
	float:right;
	width:58px;	
}
#header .center .right .login{
	width:80px;	
}
#header .center .tougao{
	background-image:url(../imgs/b-post-hover.png);
	width:58px;
	height:48px;	
}
#header .center .right a{
	color:#FFF;
}
#header .center .right .login{
	position:relative;}
#header .center .right .login a{
	display:block; width:40px;
	
	float:left;

}
#header .center .right .login a.xian{
	border-left:1px solid #F00;
}
#header .center .logo{
	width:214px;
	height:98px;
	top:55px;
	left:5px;
	position:absolute;
	background-image:url(../imgs/tou2.png);
	z-index:100;
	background-repeat:no-repeat;
}
#header .menu-wapper{
	margin:0 auto;
	width:1101px;	
	height:46px;
	padding:10px 0;
	position:relative;
}
#header .num .search{
	position:absolute;
	top:-54px;
	right:0px;
	width:343px;
	height:38px;
	background-color:rgba(0,0,0,0.12);
	border-radius:6px;
}
#header .num .link-ranking{
	position:absolute;
	top:3px;
	left:3px;
	height:32px;
	width:68px;
	background-color:rgba(255,255,255,0.88);
	border-radius:4px;
	
}
#header .num .link-ranking span{
	background:url(../imgs/index.png) -659px -663px no-repeat;
	color:#f25d8e;
	font-size:13px;
	width:64px;
	padding-left:26px;
	line-height:32px;
	height:32px;
}
#header #searchform{
	background-color:rgba(255,255,255,0.88);
	position:absolute;
	top:3px;
	right:3px;
	width:267px;
	height:32px;
	border-radius:4px;	
}
#searchform input{
   outline:none;
   border:none;
   border-radius:4px;
   background-color:rgba(230, 0, 0,0);
   padding:0 12px;
   width:208px;
   height:32px;
  
}
#searchform button{
	 outline:0;
	display:block;
	
	width:48px;
	height:32px;
	position:absolute;
	top:0px;
	right:0px;
	outline:none;
	cursor:pointer;
	opacity:0;
	
}
#searchform  span{
	display:block;
	background-color:#F00;
	width:36px;
	height:33px;
	position:absolute;
	top:0;
	right:0;
	background: url(../imgs/index.png) -653px -720px;
	background-repeat:no-repeat;
	z-index:100px;
}
#searchform  span:hover{	
	 background-position: -718px -720px;
	 background-repeat:no-repeat;
}
	   
#header .num .link-ranking:hover{
	background-color:#FFF;	
}
#header #searchform:hover{
	background-color:#FFF;	
}
#header .ling-top{
	line-height:50px;
	font-size:14px;
	text-align:center;
		
}
#header .ling-top li{
	margin-right:13px;	
	float:left;
	width:45px;
	position:relative;
}
#header .ling-top .i-link{
	background: url(../imgs/index.png) -650px -1175px no-repeat;
		
}
#header .ling-top .i-i{
	display:block;
	color:#000;
}
#header .ling-top em{
	font-style:normal;
}
#header .ling-top .i-i:hover{
	color:#3CF;	
}
#header .ling-top .v-num{
	width:24px;
	height:13px;
	background-color:#ffafc9;
	font-size:6px;
	position:absolute;
	bottom:34px;
	left:10px;
	border-radius:4px;
	
}
#header .ling-top .v-num span{	
	position:absolute;
	top:-19px;
	left:3px;
	color:#FFF;
	text-align:center;
}







#header .ling-top .link-right{
	padding-right:12px;
	line-height:41px;
	font-size:15px;
	height:50px;
}
#header .link-right a{
	height:50px;
	width:54px;
	background: url(../imgs/index.png) -662px -910px no-repeat;
	cursor:pointer;
}
#header .link-right em{
	padding-left:20px;
	height:50px;
	display:block;	
}

#header .menv-r{
	width:80px;
	height:62px;
	position:absolute;
	right:0px;
}
#header .left .saoma{
	background-image:url(../imgs/app-box.png);
	background-repeat:no-repeat;
	margin-left:-20px;
	height:170px;
	width:259px;
	z-index:999;
	position:absolute;
	display:none;
}
#header .left  .txm{
	background-image:url(../imgs/app-qrcode.png);
	z-index:1000;
	position:relative;
	width:100px;
	height:98px;
	top:31px;
	left:80px;	
}









#header  .prent-h{
	
}
#header .histroy{
	background-color: rgba(0,0,0,0.1);
	width: 300px;
	height: 200px;
	position: absolute;
	z-index: 999;
	border-radius: 0 0 6px 6px;
	left: 20px;
	top: 44px;
	color:#000;
	display:none;
}
#header .histroy .mini-wnd{
	width:295px;
	margin:0 2px 2px 2px;
	height:197px;
	background-color:#FFF;
	border-radius:0 0 6px 6px;
	position:absolute;
	top:-2px;
	right:1px;
}
#header .histroy .m-longin{
	display:inline-block;	
	background-color:#00a1d6;
	width:50px;
	height:32px;
	line-height:32px;
	margin:0 auto;
	border-radius:6px;	
}
#header .mini-wnd ul{
	margin-top:14px;
	width:295px;
	height:25px;
}
#header .mini-wnd li{
	color:#CCC;
}
#header .mini-wnd li:hover{
	background-color:rgba(225,225,225,0.4);	
}
#header .mini-wnd a{
	width:283px;
	height:26px;
	line-height:26px;	
	margin:15px auto;	
	background-color:#e5e9ef;
	border:1px solid #e0e6ed;
	border-radius:4px;
}
#header .tougao ul{
	width:210px;
	height:64px;			
	background-color:#FFF;
	float:right;	
	border-radius: 0 0 6px 6px;
	display:none
}
#header .tougao ul li{
	width:70px;
	height:64px;
	float:left;
	position:relative;
	cursor:pointer;
}
#header .tougao ul li:hover{
	background-color:rgba(225,225,225,0.4);		
}
#header .tougao ul li a{
	width:50px;
	margin:15px 10px 0 10px;
	line-height:45px;
	height:45px;
}
#header .tougao ul li a i{
	display:block;
	width:50px;
	height:30px;
	background:url(../imgs/index.png) -456px -918px no-repeat;	
}
#header .tougao ul li a em{
	position:absolute;
	top:42px;
	left:11px;
	width:48px;
	height:12px;
	line-height:12px;
	display:block;
	color:#f25d8e;
}


#index_container .container-top{
	height:220px;
	width:1160px;
	margin:0 auto;
	margin-bottom:20px;
}


#index_container .topix-preview a{
	display:block;
	width:440px;
	height:220px;
	
}

#index_container .s-bottom{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:35px;
	background-image:linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	border-radius:0 0 4px 4px;
}
#index_container .s-bottom li{
	float:left;
	width:18px;
	height:18px;
	line-height:18px;
	
	background:url(../imgs/index.png) -859px -788px no-repeat;
	padding-right:4px;
	
		
}
#index_container .s-bottom li:hover{
	background-position:-920px -789px;
	
}
#index_container .s-bottom ol{
	position:absolute;
	bottom:5px;
	right:5px;
	width:110px;
	height:22px;
	padding:2px 5px;

}
#index_container .topix-preview{
	width:440px;
	height:220px;
	overflow:hidden;
}

#index_container .s-bottom li.xiaotu{
	background-position:-855px -727px;
}

#index_container .s-bottom .title{
		width:220px;
		height:35px;
		overflow:hidden;
		position:relative;
		left:18px;
		font-size:14px;	
}
#index_container .s-bottom .title span{
	display:none;	
}
#index_container .s-bottom .title a{
	display:inline;
	height:21px;
	color:#FFF;
	position:absolute;
	left:4px;
	bottom:8px;	
}
#index_container .s-bottom .title a:hover,.b-l-more a:hover{
	text-shadow:0 0 3px #fff;	
}
#index_container .topix-preview:hover .b-l-more{
	display:block;
}
#index_container .b-l-more{
	display:none;	
}
#index_container .b-l-more a{
	width:50px;
	height:0px;
}

#index_container .container-top .b-l{
	width:440px;
	height:220px;
	float:left;
	position:relative;
}


#index_container .container-top .b-r{
	height:240px;
	float:right;
	width:720px;
}
#index_container .top-list-wrapper{
	margin-left:20px;
	height:240px;
	width:700px;
	position:relative;
}
#index_container .top-list-wrapper ul{
	height:240px;
	width:740px;
	height:240px;
}

#index_container .top-list-wrapper ul li{
	width:180px;
	height:100px;
	float:left;
	margin-bottom:20px;
}


#index_container .v-item{
	width:160px;
	height:100px;
	position:relative;
}

#index_container .v-item .priview{
	height:100px;
	overflow:hidden;
	border-radius:4px;
}
#index_container .v-item img{
	height:100%;
	margin:0 auto;
	display:block;	
}
#index_container .v-item .info{
	color:#FFF;
	font-size:13px;
	position:absolute;
	top:82px;
	overflow:hidden;
	height:18px;
	background-image:linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	border-radius:0 0 4px 4px;
}
#index_container .v-item .info p{
	margin:0px;
	padding:0px;
	color:#CCC;
	padding-top:10px;
	position:relative;
	z-index:999;
}
#index_container .v-item .mark{
	width:160px;
	height:100px;
	background:#000;
	position:absolute;
	top:0px;
	background-color:rgba(0,0,0,0.4);
	display:none;
	border-radius:4px;
}
#index_container .v-item a:hover .info{
	top:10px;
	overflow:inherit;
	background-image:none;	
	
}
#index_container .v-item a:hover .mark {
	display:block;		
}
#index_container .v-item .t{
	height:32px;	
}



#index_container .l-page{
	width:30px;
	text-align:center;
	height:50px;	
	background-color:rgba(0,0,0,0.4);
	color:#FFF;
	border-radius:6px;
	display:inline-block;
	position:absolute;
	cursor:pointer;
	display:none;
}
#index_container .top-list-wrapper:hover .l-page{
	display:block;
		
}
